body{
    font-weight: bold;
    text-align: center;
}
h1{
    font-family: sans-serif;
    background-color: #fffa5d;
    font-size: 100px;
}

table
{
border-style:none;
text-align:center;
}
td.type1
{
background-color:#fff08d;

}
td.type2
{
background-color:#bdf578;
color:black;

}
td.type3
{
background-color:#cc8fc1;
color:black;

}
td.type4
{
background-color:#ad4834;
color:black;

}
td.type5
{
background-color:#8bc9ff;
color:black;

}
td.type6
{
background-color:#e4e7f6;
color:black;

}
td.type7
{
background-color:#fbefef;
color:black;

}
td.type8
{
background-color:#ebdbda;
color:black;

}
td.type9
{
background-color:#c79a0b;
color:black;

}
td.type10
{
background-color:#ecdcab;
color:black;

}
td.type11
{
	background-color:#ccec87;
color:black;

}
td.type12
{
	background-color:#dda0dc;
color:black;

}
td.type13
{
	background-color:#fe9b66;
color:black;

}


td.stype1
{
border-bottom-style:none;
border-top-style:none;

}
td.stype2
{
border-bottom-style:none;
border-top-style:none;
border-left-style:none;

}

